.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.footer-button {
	background: $yellow;
	border-radius: 2px;
	border: none;
	transition: all 0.2s ease-in-out;

	&:hover {
		background: #f4a730;
	}
}
