.sites-button {
  background: $red-orange;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  transition: all 0.2s ease-in-out;

	&:hover {
		background: #ad3e2b;
	}

}

.header-button {
  background: $red-orange;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  transition: all 0.2s ease-in-out;
  margin-top: .5em;

	&:hover {
		background: #ad3e2b;
	}

}

.footer-button {
	margin-bottom: 5em;
	background: $yellow;
	border-radius: 2px;
	border: none;
	transition: all 0.2s ease-in-out;

	img {max-width: 20px; max-height: 20px; margin-right: 5px;}

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		background: #f4a730;
	}
}

@media only screen and (max-width: 40em) {
	.footer-button {margin-bottom: 1em; width: 100%;}
}
