#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: rem-calc(60);
	background-color: $blue;

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-bottom: 1.5em;

			a {
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.bold {font-weight: bold;}

	.social-media {

		a {color: inherit;}

		p {
			margin-bottom: 0; 
			font-size: 1.5rem;
		}

		i {font-size: 2rem;}

	}

	.footer-contact {font-size: .85rem;}

}

#copyright {
	background-color: $black;
	color: $white;
	padding-top:.5em;
}
